@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.all-icons [class^="pe-"]{
    font-size: 40px;
}
.all-icons input{
    border: 0;
}
.all-icons .font-icon-detail{
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}
.all-icons .font-icon-container a{
    padding: 5px 0;
    display: block;
    color: #666666;
}
.all-icons .font-icon-detail input{
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}
.all-icons h5{
    margin-top: 60px;
}
.all-icons > div > .row:first-child h5{
    margin-top: 15px;
}

.places-buttons .btn{
    margin-bottom: 30px
}

.buttons-with-margin .btn{
    margin: 5px;
}

.buttons-with-margin .btn-group .btn{
    margin: 5px 0px 0px 0px;
}

.animated .img-rounded{
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto;
    display: block;
}
.animated .img-rounded img{
    width: 100%;
}
.heart {
    color: #EB5E28;
    animation: heathing 1s ease infinite;
}

@keyframes heathing{
    0% {
        transform: scale(0.75);
    }
    20% {
        transform: scale(1);
    }
    40% {
        transform: scale(0.75);
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(0.75);
    }
}


/* custom classes */
.x-large {
    width: 90%
}

.align-top {
    vertical-align: baseline !important;
}
.form-group-gray{
    background-color: lightgray;
}
.name-avatar{
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}
.name-avatar-md{
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 200px;
    border: 2px dashed #f69c55;
    width: 100px;
    border-color: gray;
}

.avatar-md{
    width: 100px !important;
    height: 100px !important;
}



.foodCategoriesBody{
font-size: 25px;
padding: 10px
}

.foodCategoriesButton{
 padding:8px;
 border-radius: 10px;
 font-size: 12px;
 cursor: pointer;
 color: white;
 background-color:#3A9CF3;
 float: right;
border:3px inset #afafaf;
}
.foodCategoriesButton:hover{
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.addOn{
    float: left;
    padding:5px;
}

.actionButton{
  padding: 5px;
  margin: 4px 2px;
  display: inline-block;
   text-decoration: none;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  border-left: 3px inset #c3a4ec;
  border-bottom: 2px inset #c3a4ec;
  box-shadow: 10px 10px 20px;

}
.actionButton:hover{
border-left: 0px inset #c3a4ec;
  border-bottom: 0px inset #c3a4ec;
  box-shadow: 1px 5px 10px;
  
}
.addOnButton{
    background-color:#f69c55
}

.status{
    color:#fd2d2d
}